<div class="navbar">
    <h2>MyWheels</h2>
    <div class="filter">
        <select id="city" (change)="search($event, 'city')">
            <option value="">City</option>
            <option value="Faisalabad">Faisalabad</option>
            <option value="Hyderabad">Hyderabad</option>
            <option value="Islamabad">Islamabad</option>
            <option value="Karachi">Karachi</option>
            <option value="Lahore">Lahore</option>
        </select>
        <select>
            <option value="">Company</option>
            <option value="">Honda</option>
            <option value="">Yamaha</option>
            <option value="">Hyundai</option>
            <option value="">Suzuki</option>
            <option value="">Kia</option>
            <option value="">Kia</option>
            <option value="">Kia</option>
        </select>
        <select>
            <option value="">Price Range</option>
        </select>
        <select>
            <option value="">Year</option>
        </select>
        <select>
            <option value="">Mileage</option>
        </select>
        <select>
            <option value="">Engine Capacity</option>
        </select>
        <select id="color">
            <option value="">Color</option>
            <option value="White">White</option>
            <option value="Silver">Silver</option>
            <option value="Black">Black</option>
        </select>
        <select>
            <option value="">Vehicle Type</option>
            <option value="">Car</option>
            <option value="">Bike</option>
        </select>
        <select>
            <option value="">Rating</option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
        </select>
    </div>
</div>
