<div class="navbar">
    <h2>MyWheels</h2>
    <div class="filter">
        <form>
            <select id="city" (change)="filterVehicles($event, 'city')">
                <option value="" disabled selected hidden>City</option>
                <option value="Faisalabad">Faisalabad</option>
                <option value="Hyderabad">Hyderabad</option>
                <option value="Islamabad">Islamabad</option>
                <option value="Karachi">Karachi</option>
                <option value="Lahore">Lahore</option>
            </select>
            <select id="make" (change)="filterVehicles($event, 'make')">
                <option value="" disabled selected hidden>Make</option>
                <option value="Honda">Honda</option>
                <option value="Yamaha">Yamaha</option>
                <option value="Toyota">Toyota</option>
                <option value="Hyundai">Hyundai</option>
                <option value="Suzuki">Suzuki</option>
                <option value="KIA">KIA</option>
                <option value="Daihatsu">Daihatsu</option>
                <option value="Chinese Bikes">Chinese Bikes</option>
                <option value="United">United</option>
                <option value="Mitsubishi">Mitsubishi</option>   
            </select>
            <select id="ratings" (change)="filterVehicles($event, 'ratings')">
                <option value="" disabled selected hidden>Rating</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <select id="color" (change)="filterVehicles($event, 'color')">
                <option value="" disabled selected hidden>Color</option>
                <option value="White">White</option>
                <option value="Silver">Silver</option>
                <option value="Black">Black</option>
                <option value="Red">Red</option>
            </select>
            <select id="engine" (change)="filterVehicles($event, 'engine')">
                <option value="" disabled selected hidden>Engine Capacity</option>
                <option value="125">125cc</option>
                <option value="200">200cc</option>
                <option value="660">660cc</option>
                <option value="800">800cc</option>
                <option value="1000">1000cc</option>
                <option value="1500">1500cc</option>
                <option value="2000">2000cc</option>
                <option value="2800">2800cc</option>
            </select>
            <select id="type" (change)="filterVehicles($event, 'type')">
                <option value="" disabled selected hidden>Vehicle Type</option>
                <option value="Car">Car</option>
                <option value="Bike">Bike</option>
            </select>
            <select id="price" (change)="filterVehicles($event, 'price')">
                <option value="" disabled selected hidden>Price Range</option>
                <option value="1">1-5 lacs</option>
                <option value="2">6-10 lacs</option>
                <option value="3">11-20 lacs</option>
                <option value="4">20-50 lacs</option>
                <option value="5">50 lacs+</option>
            </select>
            <div style="margin-top: 10px;">
                <p>Select values of all the categories and press button to perform multiple category filtering.</p>
                <button (click)="filterVehiclesMultiple()" type="button">Filter</button>
            </div>
           
        </form>
    </div>
</div>

<div class="vehicle-list">
    <div class="vehicle" *ngFor="let i of vehicleList" (click)="open(content, i)">
        <img src="{{ i.imageUrl }}">
        <h3>{{ i.title }}</h3>
        <div class="vehicle-details">
            <span>PKR {{ i.price }}</span>
            <span class="location"><b>{{ i.location }}</b></span>
        </div>
        <div class="vehicle-details">
            <span><b>Date Added:</b> {{ i.dateAdded }}</span>
            <span><b>Ratings: </b>
                <i class='fas fa-star' style="color: orange;" *ngFor="let in of counter(i.ratings); let j = index"></i>
            </span>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Vehicle Details</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
            <div>
                <div>
                    <h2>{{ vehicleDetails.title }}</h2>
                    <img  id="expanded-vehicle-image" src="{{ vehicleDetails.imageUrl }}" alt="{{ vehicleDetails.title }}">
                </div>
                <div>
                    <hr style="margin-left: 5%; width: 90%;">
                    <h4 class="text-center">Seller Information</h4>
                    <hr style="margin-left: 5%; width: 90%;">
                    <h5>Posted By: {{ vehicleDetails.sellerName }}</h5>
                    <p><b>Email:</b> {{ vehicleDetails.sellerEmail }}</p>
                    <p><b>Contact Number:</b> {{ vehicleDetails.sellerContactNumber }}</p>
                    <p><b>Comments:</b> {{ vehicleDetails.sellerComments }}</p>
                </div>
            </div>
          <div class="row">
            <hr style="margin-left: 5%; width: 90%;">
            <h4 class="text-center">Features & Details</h4>
            <hr style="margin-left: 5%; width: 90%;">
            <div class="col-md-6">
                <p class="col-md-6"><b>Price:</b> <span> PKR {{ vehicleDetails.price }}</span></p>
                <p><b>Model:</b>&nbsp;{{ vehicleDetails.model }}</p>
                <p><b>Make:</b>&nbsp;{{vehicleDetails.make}}</p>
                <p><b>Color:</b>&nbsp;{{ vehicleDetails.color }}</p>
                <p><b>Location:</b>&nbsp;{{vehicleDetails.location }}</p>
                <p><b>Transmission:</b>&nbsp;{{ vehicleDetails.transmission }}</p>
            </div>
            <div class="col-md-6">
                <p><b>Date Added:</b>&nbsp;{{ vehicleDetails.dateAdded }}</p>
                <p><b>Registerd In:</b>&nbsp;{{ vehicleDetails.registerdIn }}</p>
                <p><b>Engine Capacity:</b>&nbsp;{{ vehicleDetails.engineCapacity }} cc</p>
                <p><b>KMs Used:</b>&nbsp;{{ vehicleDetails.kmsUsed }}</p>
                <p><b>Ratings:</b>&nbsp;
                    <i class='fas fa-star' style="color: orange;" *ngFor="let in of counter(vehicleDetails.ratings); let j = index"></i>
                </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
